<div class="row">
		<div class="col-md-5">
			<h3>Cadastro de Servos</h3>
			<form action="#">
				<div class="form-group">
					<label for="nome">Nome Completo:</label>
					<input type="text" class="form-control" id="nome" ng-model="nomeServ"/>
				</div>
				<div class="form-group">
					<label for="ministerio">Ministério do Servo:</label>
					<select class="form-control" id="ministerio">
						<option ng-repeat="min in ministerios" value="{{ min.codigo }}" >
							{{ min.nome }}
						</option>
					</select>
				</div>
			</form>
			<button class="btn btn-primary">Salvar</button>
			<button class="btn btn-info" ng-click="nomeServ = ''">Limpar</button>
		</div>
	</div>

	<hr>

	<div class="row" ng-controller="ServosCtrl">
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Registros Cadastrados
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Nome</th>
                                    <th>Ministério / Cargo</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="servo in servos">
                                    <td>{{ servo.codigo }}</td>
                                    <td>{{ servo.nome }}</td>
                                    <td>{{ servo.cargo }}</td>
                                    <td>
                                    	<button class="btn btn-warning">Editar</button>
                                    	<button class="btn btn-danger">Excluir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
     </div>
